
<ion-content padding class="content">
 
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
          <img class="logo" src="../../assets/imgs/eduplat1.png" alt="">

          <ion-item>
            <ion-label color="black" floating>Username</ion-label>
            <ion-input type="text" [(ngModel)]="mail"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label color="black" floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </div>
  
        <div padding>
            <button ion-button full  color="light" (click)="login()">Iniciar sesión</button>
            <p>¿No tienes cuenta? 
              <a (click)="irSingup()">Regístrate</a>
            </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>


