page-login {
    .content {
        background-color: rgba(174, 210, 240, 0.842);
    }
    .item.item-input {
        background-color: transparent;
    }
    .center {
        position: relative;
        top: 60%;

    }
}
