
<ion-content padding class="content">
 
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>

          <img class="logo" src="../../assets/imgs/eduplat1.png" alt="">

          <ion-item>
            <ion-label>¿Qué deseas hacer?</ion-label>
            <ion-select [(ngModel)]="grade">
              <ion-option value="student">Seguir cursos</ion-option>
              <ion-option value="teacher">Dictar cursos</ion-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label color="black" floating>Email</ion-label>
            <ion-input type="email" [(ngModel)]="mail"></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-label color="black" floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="black" floating>Confirmar Password</ion-label>
            <ion-input type="password" [(ngModel)]="conf_password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="black" floating>Name</ion-label>
            <ion-input type="text" [(ngModel)]="name_user"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="black" floating>Last Name</ion-label>
            <ion-input type="text" [(ngModel)]="last_name_user"></ion-input>
          </ion-item>

        </div>
  
        <div padding>
            <button ion-button full  color="light" (click)="register_user()">Registrarse</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>


