.ios, .md {
 
    page-home {
        // .header-image {
        //     background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
        //     height: 40vh;
        // }
            
        .main-content {
            background-color: map-get($colors, dark);
            box-shadow: 0px -1px 13px 1px rgba(0,0,0,0.3);
        }
 
        .scroll-content {
            padding-top: 0 !important;
        }
 
        // ion-header {
        //     backdrop-filter: blur(8px);
        // }
 
        ion-navbar {
            opacity: 0.4;
            box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
        }
 
        ion-segment {
            padding: 0px 12px;
            opacity: 0.7;
            position: relative;
            top: -50px;
        }
 
        ion-segment-button {
            border-color: map-get($colors, primary) !important;
            color: #fff !important;
        }
 
        ion-card:last-of-type {
            margin-bottom: 0 !important;
        }
 
        ion-item {
            background-color: #fff;
        }
        
    }
    .card-background-page {
        ion-card {
            background-color: #fff;
            width: 100%;
            margin: 0;
            margin-top: 1rem;
            position: relative;
            top: 2;
            text-align: center;
            
        }
        .card-title {
            position: absolute;
            top: 7rem;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
        }
        
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 11rem;
            width: 100%;
            color: rgb(255, 255, 255);
        }
    }
    .img {
        opacity: 0.7;
    }
    .item ion-thumbnail {
        margin-left: -1.5rem;
        min-width: 5rem;    
        min-height: 5rem;
        background-color: rgb(202, 204, 211);
        img {
            max-width: 3rem;    
            min-width: 5rem;
        }
    }
}