<ion-header no-border>
  <ion-navbar color="secondary">
    <ion-buttons left>
        <button ion-button icon-only color="light"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content fullscreen parallax-header padding class="card-background-page">
 
    <div class="header-image"></div>
 
    <div class="main-content">
 
        <!-- <ion-segment [(ngModel)]="category">
            <ion-segment-button value="gear">
                Gear
            </ion-segment-button>
            <ion-segment-button value="clothing">
                Clothing
            </ion-segment-button>
            <ion-segment-button value="nutrition">
                Nutrition
            </ion-segment-button>
        </ion-segment> -->
 
        <ion-card *ngFor="let datos_course of datos_courses">
 
 
          <img class="img" src="{{ datos_course.img }}" />
          <div class="titleh1 card-title">{{ datos_course.name_course }}</div>
          <div class="tx card-subtitle">Inscribite</div>
          <ion-item text-left>
            <p text-publication>
                {{ datos_course.nivel_course }}
            </p>
            <button ion-button outline item-end color="nav">ABIERTO</button>
          </ion-item>
 
        </ion-card>
 
    </div>
 
</ion-content>