<ion-header>

    <ion-navbar color="nav" hideBackButton="true">
      <button ion-button icon-only menuToggle>
        <ion-icon ios="ios-person" md="md-person"></ion-icon>
      </button>
  
      <ion-title text-center>
        <img src="../../assets/imgs/eduplat2.png" class="logoPatita">
      </ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
</ion-header>
<ion-tabs  selectedIndex="0" tabsHighlight="true" tabsPlacement="asd" color="nav" class="tabs">
    <ion-tab [root]="aprendeRoot" tabTitle="Aprende" tabIcon="ios-create"></ion-tab>
    <ion-tab [root]="inicioRoot" tabTitle="Inicio" tabIcon="ios-home"></ion-tab>
    <ion-tab [root]="noticiasRoot" tabTitle="Noticias" tabIcon="ios-chatboxes"></ion-tab>
</ion-tabs>
