page-root {
    .logoPatita {
        //margin-bottom: 10%;
        margin-top: 3%;
        margin-left: -5%;
        height: 50%;
        width: 50%;
    }
    .tabs {
        //margin-top: 12%
    }   
}
