<ion-menu [content]="content">
    <ion-header >
      <ion-navbar class="navbar-menu"  color="nav">
          <img class="avatar" src="https://image.flaticon.com/icons/svg/149/149071.svg" alt="Avatar" class="avatar">
      </ion-navbar>
      
      <ion-toolbar  color="nav">
        <h6 class="tx texth6">{{ datos_user[2] }} {{ datos_user[1]  }}</h6>
        <p class="textmail titleh1">{{ mail }}</p>
      </ion-toolbar>
    </ion-header>
      <ion-content class="titleh1 contentapp">
        <ion-list >
          <ion-item (click)="addCourse()" menuClose 
                    *ngIf="datos_user[0] != 'student'">
            <ion-icon name="md-add" item-start></ion-icon>
            Crear Curso
          </ion-item>
          <ion-item (click)="openPage( )" menuClose>
            <ion-icon name="md-list-box" item-start></ion-icon>
            Mis Curso
          </ion-item>
          <ion-item (click)="openPage( )" menuClose>
            <ion-icon name="md-settings" item-start></ion-icon>
            Configuracion
          </ion-item>
          <ion-item (click)="openPage( )" menuClose>
            <ion-icon name="ios-power" item-start></ion-icon>
            Logout
          </ion-item>
        </ion-list>
      </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>
