// http://ionicframework.com/docs/theming/
.tx {
    font-family: "quick-bold";
}
.smb {
    font-family: "spongeboy-me-bob";
}
.titleh1 {
    font-family: "quick-bold-Medium";
}
ion-labe {
    font-family: "quick-bold-Regular";
}
.titlep {
    font-family: "quick-bold-Regular";
}
.publication {
    font-family: "quick-bold";
}
.text-publication {
font-family: "quick-bold-Medium";
}
ion-header {
    box-shadow: none;
    .navbar-menu {
        min-height: 50px;
        width: 100%;
        overflow: visible;
        position: relative;
        height: 70%;
        box-shadow: none;
    }
    .avatar {
        vertical-align: middle;
        width: 20%;
        height: 20%;
        border-radius: 50%;
        margin-left: 5%;
        margin-top: 8%;
    }
    .textmail {
        font-size: 1.3rem;
        margin-left: 5%;
        margin-top: -4%;
    }
    .texth6 {
        margin-left: 5%;
    }
    
}
.avatar {
    width: 80px; 
    height: 80px;
}
.contentapp {
    margin-top: 3rem
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
