<ion-header>

  <ion-navbar>
    <ion-title>inicio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

    <ion-item text-center> 
      <h1 class="text-publication welcome">¿Qué es Eduplat?</h1>
    </ion-item>
  
    <img class="img" src="../../assets/imgs/eduplat5.png">
  
    <ion-card-content>
      <p class="textp tx">EDUPLAT LMS ES UN SOFTWARE CON TODO LO NECESARIO PARA PONER EN FUNCIONAMIENTO UN AULA VIRTUAL Y GESTIONAR UN CURSO DE E-LEARNING.</p>
    </ion-card-content>

  
  </ion-card>
</ion-content>
