page-inicio {
    $color_white: rgba(145, 57, 57, 0.726);
    $color_text: rgb(36, 54, 77);
    .welcome {
        font-size: 4rem;
        //padding: 4rem;
        color: $color_white;
        margin-bottom: 5rem
    }
    .img {
        margin-bottom: 5rem
    }
    .textp {
        color: $color_text;
    }
}
