<ion-header>

    <ion-navbar color="nav" hideBackButton="true">
      <button ion-button icon-only menuToggle="true">
        <ion-icon ios="ios-person" md="md-person"></ion-icon>
      </button>
  
      <ion-title text-center>
        <img src="../../assets/imgs/eduplat2.png" class="logoPatita">
      </ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
</ion-header>



<ion-content class="content">
 
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <h1 text-center class="publication">Crear Curso</h1>
            <ion-item>
              <ion-label color="black" floating>Nombre del curso</ion-label>
              <ion-input type="text" [(ngModel)]="name_course"></ion-input>
            </ion-item>
          
            <ion-item>
              <ion-label color="black" floating>Descripcion del curso</ion-label>
              <ion-textarea type="text" [(ngModel)]="desp_course"></ion-textarea>
            </ion-item>
  
            <ion-item>
              <ion-label color="black">Nivel</ion-label>
              <ion-input type="text" [(ngModel)]="nivel_course"placeholder="ejem. Curso basico"></ion-input>
            </ion-item>
  
            <ion-item *ngIf="imgPreview">
              <img [src]="imgPreview">
            </ion-item>
            <ion-item>
            <button ion-button color="nav"
                    block  outline
                    icon-left
                    (click)="seleccionar_fotos()">
              <ion-icon name="ios-photos-outline"></ion-icon>
              Seleccionar foto
            </button>
            </ion-item>
  
          </div>
    
          <div padding>
              <button ion-button full  color="light" (click)="crear_publicacion()">Registrarse</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-content>
  
  
  